html, body {
   
    background: #12363E;
    font-family: 'Barlow';
   
  }
.main-back {
    position: relative;
    overflow: hidden;
}
.main-card{
    background-color: #12363E;
    background-image: linear-gradient(to top, #12363E, #fff);
    margin: 0px 10px;
    margin-top: 50px;
    position: relative;
    z-index: 1;
}
.skew-back {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: #12363E;
    transform: skew(0deg, -5deg);
    z-index: 10;
}
.skew-back::after{
    content: '';
    position: absolute;
    height: 220px;
    width: 10px;
    background-color: #12363E;
    border-radius: 20px;
    right: 6px;
    top: 150%;
} 
.main-card::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: #12363E; 
    transform: skew(0deg, -5deg);
    z-index: 1;
}
h3{
    font-size: 24px;
    font-weight: bold;
    color: #12363E;
    text-align: right;
    line-height: 23px;
    width: 100%;
    max-width: 250px;
    margin-left: auto;
}
.detail{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 34px 0px
}
p{
    font-size: 16px;
    line-height: 20px;
    color: #12363E;
    text-align: right;
}

.footer{
    width: 100%;
    max-width: 500px;
    position: relative;
    z-index: 10;
}
.footer img{
    width: 120px;
}


@media only screen and (max-width: 375px) {
    .main-card{
        margin-top: 50px;
    }
    .main-card .image img{
        max-width: 240px;
        height: 270px;
    }
}
@media only screen and (max-width: 414px) {
    .main-card{
        margin-top: 50px;
    }
    .main-card .image img{
        max-width: 500px;
        height: 470px;
    }
}
@media only screen and (max-width: 390px) {
 .main-card .image img{
        max-width: 500px;
        height: 450px;
    }
}
@media only screen and (max-width: 430px) {
    .detail{
        max-width: 360px;
    }
    .main-card .image img{
           max-width: 550px;
           height: 520px;
       }
   }